.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imageCard {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.imageCard img {
    max-width: 100%;
    height: auto;
}