.container {
    padding: 20px;
    width: fit-content;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    border: 2px dashed black;
    display: flex;
    align-items: center;
    padding: 5px
}

.choosefile{
    background-color: #cccccc62;
    padding: 0;
}
.uploadButton {
    font-weight: 600;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
}

.uploadedImagesHeading {
    margin-top: 30px;
    font-size: 24px;
}

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imageWrapper {
    max-width: 200px;
    height: 20px;
    border-radius: 8px;
}

.image {
    max-width: 100%;
    border-radius: 8px;
}

.noteContainer {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffe6e6;
    /* Light red background */
    border: 1px solid #ff4d4d;
    /* Red border */
    border-radius: 5px;
}

.note {
    color: #ff0000;
    /* Red text */
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}