.slider-container {
    position: relative;
    width: 100%;
    height: auto;
    /* Full viewport height */
    overflow: hidden;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin-bottom: 100px;
    /* Optional: Add a background color */
}

.slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    padding: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the screen nicely */
    display: block;
    /* Maintain aspect ratio */
    /* object-fit: contain; */
    /* Ensure the image fits without cropping */
    border-radius: 8px;
    /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for better visuals */
}